<!-- A footer fixed to the bottom of the screen -->
<footer>
  <nav>
    <ul>
      <li>
        <a href="/">
          <i class="fa fa-list"></i>
          <h5>Home</h5>
        </a>
      </li>
      <li>
        <a href="/add-new">
          <i class="fa fa-plus-square"></i>
          <h5>Add new</h5>
        </a>
      </li>
    </ul>
  </nav>
</footer>
</div>


</body>
</html>
