<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <div class="app-container">
      <!-- A fixed header, using flexbox -->
      <header>
        <a href="/">
          <h1><%= title %></h1>
        </a>
        <img src="http://placehold.it/80" />
      </header>
