<%- include  header.ejs %>

<!-- The scrollable main view container -->
<main>
  <!--  THIS ELEMENT IS JUST FOR DEMO PURPOSES  -->
  <div class="spacer">List view</div>
</main>

<%- include  footer.ejs %>
